{% extends "base.html" %}


{% block title %}
<title>Task List</title>
{% endblock title %}



{% block content %}
<main>
    <div>
        <h1>My Tasks</h1>
        {% if task_list|length == 0 %}
        <p>You have no tasks</p>
        {% else %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for task in task_list %}
                <tr>
                    <td>{{task.name}}</td>
                    <td>{{task.start_date}}</td>
                    <td>{{task.due_date}}</td>
                    <td>{{ value|yesno:"yeah,no" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</main>

{% endblock content %}
